.App {
  text-align: center;
  
}
h2 {
  margin-bottom: 5%;
}
.mg-categorias {
  margin-top: 25%;
  text-align: center;
}
.mg-rebajas {
  margin-bottom: 25%;
  margin-top: 10%;
  color:white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.bg-color {
  color: #fff;
  text-align: center;
 
}
.cont-btn {
  background: rgb(241, 216, 69);
  font-weight: 700;
}
.cont-text-present {
  margin-top: 2%;
  margin-bottom: 0.2%;
  color: #fff;
}

.btn2 {
  margin-top: 1.2%;
}

.logo-chan {
  width: 250px;
}
.figure-logo {
  margin-top: 4%;
}

.btn-user {
  width: 70px;
}
.mg {
  border-radius: 18px;
  margin: 3%;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
