.App {
  text-align: center;
  
}
h2 {
  margin-bottom: 5%;
}
.mg-categorias {
  margin-top: 25%;
  text-align: center;
}
.mg-rebajas {
  margin-bottom: 25%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.bg-color {
  color: #fff;
 
}
.cont-btn {
  border: 2px solid rgb(109, 102, 102);
  background: rgb(131, 130, 130);
  color: white;
  border-radius: 8px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin-bottom: 5%;
  margin-top: 5%;
  color: white;
}
.btn2 {
  margin-top: 5%;
}
img {
  width: 100px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
